[data-albums] {
    /* background-color: rgba(255, 255, 0, 0.544); */
    margin: 2rem 0;
    padding: .5rem;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;


    [data-album] {
        background-color: white;
        padding: .5rem;
        max-width: 22rem;
        border-radius: 8px;
        box-shadow: 0px 5px 13px -9px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 0px 5px 13px -9px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 5px 13px -9px rgba(0, 0, 0, 1);

        img {
            width: 100%;
            border-radius: 8px;
        }

        [data-description] {
            /* background-color: rgba(255, 85, 0, 0.544); */
            padding: .5rem;

        }

        small {
            opacity: var(--opacity);
        }

        [data-options] {
            /* background-color: rgba(255, 85, 0, 0.544); */
            padding: .5rem;
            display: flex;
            justify-content: end;
            gap: 1rem;

            a {
                background-color: var(--ternary-d-clr);
                color: var(--ternary-l-clr);
                padding: .5rem;
                font-size: 1.4rem;
                border-radius: 100vw;
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }
}