form {
    margin: 2rem auto;
    max-width: 550px;

    input {
        margin-top: 1rem;
        padding: .6rem 1.4rem;
        width: 100%;
        border-radius: 100vw;
        border: 2px solid var(--dark-clr);
        color: var(--dark-clr);

        &::placeholder {
            color: var(--dark-clr);
        }
    }

    small {
        margin-left: 1.4rem;
        opacity: var(--opacity);
    }

    section {
        display: flex;
        gap: 1rem;
        justify-content: end;
        margin: 1rem 0;

        :first-child {
            background-color: transparent;
            border-color: var(--ternary-d-clr);
            color: var(--ternary-d-clr);

            &:hover {
                background-color: var(--danger-clr);
                border-color: var(--danger-clr);
                color: var(--light-clr);
                box-shadow: none;
            }
        }
    }
}