@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
  --bg-light: #f5f5f5;
  --bg-dark: #041611;
  --main-clr: #00ffc2;
  --txt-clr: #041611;
  --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --opacity: 0.6;
  accent-color: var(--main-clr);

  small {
    font-size: small;
  }

}

body.dark-theme {
  --bg-body: #111827;
  --txt-clr: white;
  --bg-content: rgba(255, 255, 255, 0.248);
  --bg-light: #041611;
  --bg-dark: #f5f5f5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

html {
  /* 16px */
  /* font-size: 100%; */
  font-size: medium;

  /* 14px */
  /* font-size: 87.5%; */

  /*12px*/
  /* font-size: 75%; */

  scroll-behavior: smooth;
  /* < Estilos temporales */
  /* max-width: 35rem;
    margin: 0 auto;
    padding: 2rem; */
  /* </ Estilos temporales */
}

body {
  font-family: var(--font);
  background-color: var(--bg-light);
  color: var(--txt-clr);
  text-wrap: balance;
}

small {
  font-size: small;
}

p {
  opacity: var(--opacity);
}

header {
  background-color: var(--main-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      color: var(--txt-clr);
      text-decoration: none;

      img:nth-child(2) {
        display: none;
      }
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 1.2rem;

      li {
        text-decoration: none;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem 0.2rem 0 0;

        &:hover {
          background-color: rgba(255, 255, 255, 0.71);
          border-bottom: 2px solid var(--txt-clr);
        }
      }

      .active {
        background-color: rgba(255, 255, 255, 0.238);
        border-bottom: 2px solid var(--txt-clr);
      }
    }
  }

  button {
    color: var(--btn-txt);
    background-color: rgba(255, 255, 255, 0.508);
    border-radius: 100vw;
    padding: 0.2rem 0.4rem;
    margin: 1.2rem;
    width: fit-content;
    height: fit-content;
    border: none;

    &:hover {
      border: none;
      background-color: var(--main-clr);
      color: #ffe100;
    }
  }
}

main {
  max-width: 95vw;
  margin: 2rem auto;
}

footer {
  background-color: var(--bg-dark);
  padding: 1.4rem;
  color: white;
  text-align: center;
  border-top: 1px solid var(--border-clr);

  div {
    padding: 1rem;

    a {
      text-decoration: none;
      color: white;

      i {
        margin: 0.4rem;
        background-color: rgba(255, 255, 255, 0.197);
        padding: 0.4rem 0.6rem;
        border-radius: 100vw;
      }
    }
  }
}

@media (max-width: 360px) {
  nav>a {
    background-color: pink;
  }


}

@media (min-width: 600px) {
  header {
    nav {
      a {
        img:nth-child(2) {
          display: block;
        }
      }
    }
  }

  form {
    max-width: 70%;
  }
}

@media (min-width: 1000px) {

  body,
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  body {
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header main main" "footer footer footer";
  }

  header {
    flex-direction: column;
    justify-content: start;

    nav {
      flex-direction: column;
      margin: 1rem 0;
    }
  }
}

@media (min-width: 1600px) {

  body,
  html {
    font-size: xx-large;
  }
}