[data-list] {
    /* background-color: rgba(255, 0, 119, 0.266); */
    padding: .5rem;
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    li {
        background-color: white;
        display: grid;
        grid-template-areas: "date" "info" "buy";
        align-items: center;
        /* border-bottom: 2px dashed var(--ternary-d-clr); */
        padding: .5rem .3rem;
        border-radius: 8px;

        [data-date] {
            grid-area: date;
        }

        [data-info] {
            grid-area: info;
        }

        [data-buy] {
            grid-area: buy;
        }

        >div {
            background-color: var(--main-clr);
            padding: .5rem;

            width: 140px;
            height: 140px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--dark-clr);
            border: 2px solid var(--dark-clr);
            border-radius: 8px;
            font-weight: 600;

            strong {
                font-weight: 900;
                font-size: 3.8rem;
                line-height: normal;
            }
        }

        section {
            /* background-color: rgba(210, 47, 255, 0.266); */
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                /* background-color: rgba(0, 8, 255, 0.302); */
                display: flex;
                /* align-content: center; */

                gap: .4rem;
                /* max-width: 250px; */
                margin: .5rem auto;

                div {
                    display: flex;
                    flex-direction: column;
                    /* width: 50%; */
                    padding: .4rem;
                    border-radius: 8px;
                    background-color: rgba(255, 255, 255, 0.155);
                }
            }
        }
    }
}

@media(min-width: 500px) {
    /* body {
        background-color: red;
    } */

    [data-list] li {
        grid-template-areas: "date info" "date info" "date buy";
    }
}

@media(min-width: 900px) {
    /* body {
        background-color: lightgreen;
    } */

    [data-list] {
        max-width: 960px;
        margin: 0 auto;

        li {
            grid-template-areas: "date info buy";
        }
    }
}